*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
.flexbox{
    background-color: lightgray;
    display: flex;
}
.flexbox h1{
    color:darkslateblue;
}
.flexbox p{
    font-size: 20px;
}
.pic img{
    display: flexbox;
    width: 500px;
    position: relative;
}
.content{
   margin-top: 130px;
}
.detailed{
    background-color: lightgray;
}
.inner h2{
    color:darkslateblue;
}
.inner p{
    font-size: 20px;
}
.secton3{
    border:inset;
    border-color: black;
    background-color: lightgoldenrodyellow;
    
}
.section4{
    background-color: lightgray;

}
.footer{
    background-color: rgb(43, 41, 41);
    color: white;
    
}
.footer a,p{
    text-decoration: none;
    text-align: center;
    
}